*{
    margin: 0;
    padding: 0;
}
.block1 {
	background: Url(04-chernogorskiy-hrebet.jpg);
	width: 100%;
	height: 270px;	
	border-radius: 5px;
	box-shadow: 5px 5px 3px #46ac18;
} 

.block2 {
	background-image: Url(WR250R.jpg);
    
    height: 170px; 		
    background-size: contain;
	background-repeat: no-repeat;
    background-position: center bottom;
}

h1 {
	color: #138609;
	text-align: center;
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	font-family: sans-serif;
	font-size: 55px;
    font-style: oblique;
}
p{
     color: #894a0b;
	text-align: right;
    padding: 10px;
    font-size: 19px;
    font-style: oblique;
    
}
.git{
	color: #062903;
	font-size: 35px;
	text-align: center;
}